@mixin responsive($breakPoint) {
  $larg-width: 1200px;
  $desktop-width: 1024px;
  $tablet-width: 767px;
  $mobile-width: 480px;
  $small-width: 320px;
  @if $breakPoint == lg {
    @media (min-width: #{$desktop-width + 1px}) {
      @content;
    }
  } @else if $breakPoint == md {
    @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$desktop-width}) {
      @content;
    }
  } @else if $breakPoint == sm {
    @media (min-width: $small-width + 1px) and (max-width:  $mobile-width) { 
      @content;
    }
  }@else if $breakPoint == xsm {
    @media only screen and (max-width: #{$small-width} ) {
      @content;
    }
  }
}
